* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: 'Montserrat', sans-serif;
    color: white;
}
h1,
h2 {
    font-family: 'Playfair Display', sans-serif;
}


.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.temperature__degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.temperature__description {
    text-transform: capitalize;
}





.location__timezone {
    font-size: 8em;
}
.temperature__degree-section span {
    font-size: 6em;
}
.temperature__degree-section h2 {
    font-size: 16em;
}
.temperature__description {
    font-size: 3em;
}


@media only screen and (min-width: 30em) {

    .location__timezone {
        font-size: 4em;
    }

    .temperature__degree-section span {
        font-size: 3em;
    }

    .temperature__degree-section h2 {
        font-size: 8em;
    }

    .temperature__description {
        font-size: 1.5em;
    }

}

